.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa/
network-security.data
emojis/
elpa/archives
elpa/archives/gnu/archive-contents
eshell/
elpa/
archive-contents/
